<strong>Olá, {{ deliveryman }}.</strong>
<p>A entrega de identificação <strong>{{ deliveryId }}</strong> do produto {{ product }} foi cancelada. Confira abaixo o motivo do cancelamento: </p>
<strong>{{ reason }}</strong><br/>

